.img {
  width: 120px;
  height: 70px;
  margin-top: 40px;
  margin-left: 100px;
}
.avatar1 {
  margin-top: 35px;
  margin-left: 70px;
}
.vl {
  border-width: 1px;
  border-color: rgb(168, 162, 162);
}
.verticalline1 {
  border-left: 1px solid rgb(168, 162, 162);
  height: 860px;
  position: absolute;
  right: 90%;
  top: 0.4;
}
.padding{
  height: 210px;
  text-align: center;
}