#title {
    text-align: center;
    font-family: arial, sans-serif;
  }
  
  #students {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ddd  !important;
    width: 100% !important;
  }

  #students td, #students th {
    border: 1px solid #ddd;
    /* width: 100% !important; */
  }
  
  #students tr:nth-child(even){background-color: #f2f2f2;}
  
  #students tr:hover {background-color: #ddd;}
  
  #students th {
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
    background-color: "none";
    color: black;
    /* border-left: 1px solid #f2f2f2;
  height: 25px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0; */
  }
  .editbtn {
    background: #515152;
    color: #fff;
    padding: 5px 10px 5px 10px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
}
@media print {
  .visible-print-inline-block {
    display: inline-block !important;
  }
}

@media print {
  .hidden-print {
    display: none !important;
  }
}





